
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  font-weight: 300;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 100;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 100;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 100;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  position: fixed;
  /* background-color: rgba(37, 37, 37, 0.40); */
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 800px) {
  #navbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/*Background*/
#background-text {
  flex-direction: column;
  top: 20vh;
  text-align: center;
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  height: 100vh;
}

#name-title {
  margin-top: 9vh;
  margin-bottom: 0px;
}
#position-title {
  margin-top: 0px;
}
#itme {
  margin:0;
  text-align: left;
}
#background {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.background-image {
  min-width: auto;
  height: 125%;
  opacity: .8;
}

.sm-icon {
  height: 5vh;
  filter: invert(90%);
}

#social-media-icons {
  display: flex;
  justify-content: space-between;
}

.gh-icon {
  height: 4.5vh;
  filter: invert(90%);
}

/*About Me*/
#about {
  background-color: #f1f1f1;
}

#aboutme-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

/*Projects*/
#projects {
  background-color: white;
  /* background-color: rgb(199, 201, 204); */
}
#projects-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
#projects-container h4 {
  margin-top: 0;
  margin-left: 2vw;
  text-align: left;
}
.allBoards-image {
  height: 35vh;
  width: auto;
}
/*Contact*/
#contact {
  background-color: #f1f1f1;
  /* background-color: rgb(199, 201, 204); */
}
#contact-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
