
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: 300;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
body {
  margin: 0;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgba(37, 37, 37, 0.75);
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 800px) {
  #navbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#background-text {
  flex-direction: column;
  top: 35vh;
  text-align: center;
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;

}
#name-title {
  margin-bottom: 10px;
}
#position-title {
  margin-top: 10px;
}

/*Background*/
#background {
  height: 100vh;
  display: flex;
  justify-content: center;
}
img {
  /* width: 100%; */
  height: 100%;
}
