
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  font-weight: 300;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5vh;
  font-weight: 100;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 100;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 100;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 100;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 800px) {
  #navbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
  color: #4a97ef;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Background*/
#background-text {
  flex-direction: column;
  top: 20vh;
  text-align: center;
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  height: 100vh;
}

#name-title {
  margin-top: 9vh;
  margin-bottom: 0px;
}
#position-title {
  margin-top: 0px;
}
#itme {
  margin:0;
  text-align: left;
}
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.background-image {
  min-width: auto;
  height: 125%;
  opacity: .8;
}

.sm-icon {
  height: 5vh;
  filter: invert(90%);
}

#social-media-icons {
  display: flex;
  justify-content: space-between;
}

.gh-icon {
  height: 4.5vh;
  filter: invert(90%);
}
.gh-icon:hover {
  height: 5vh;
  opacity: .9;
}
.sm-icon:hover {
  height: 5.5vh;
}

/*About Me*/
#about {
  background-color: #f1f1f1;
}

#aboutme-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#aboutme-container h2 {
  margin-bottom: 0;
}

#img-about-container {
  display: flex;
  flex-direction: row;
  margin: 3%;

}

#about-paragraph {
  display: flex;
  flex-direction: column;
  margin: 2%;
  text-align: left;
}

#about-paragraph p {
  font-size: 18px;
}

@media only screen and (max-width: 420px) {
  #img-about-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .individual-project {
    flex-wrap: wrap;
  }
  .screenshots {
    flex-wrap: wrap;
  }
  .project-info {
    min-width: 90vw;
  }

}

/*Projects*/
#projects {
  background-color: white;
  /* background-color: rgb(199, 201, 204); */
}
.projects-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.projects-container h2{
  margin-bottom: 0;
}
.projects-container h3 {
  margin-top: 0;
  margin-left: 2vw;
  text-align: left;
}
.sc-image {
  height: 35vh;
  width: auto;
  box-shadow:5px 5px 5px #999;
  margin: 5%;
}

.individual-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 7% 2% 7%;

}

.project-info {
  text-align: left;
  margin-right: 4%;
  max-width: 30vw;
}
.project-info h3 {
  margin-left: 0;
  margin-bottom: 0;
}
.project-info p {
  font-size: 15px;
}
.line-break {
  width: 50%;
}
.screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 60vw;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle-one {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle-two {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.github-text {
    background-color: #454444;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 16px 32px;
}

.screenshots:hover .sc-image {
  opacity: .2;
}
.screenshots:hover .middle-one {
  opacity: 1;
}
.screenshots:hover .middle-two {
  opacity: 1;
}

/*Contact*/
#contact {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  /* background-color: rgb(199, 201, 204); */
}
#contact-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3vh;
}

#contact-container h2 {
  margin-bottom: 2vh;
}

#contact-container p {
  font-size: 18px;
  margin: 0;
}

.giphy-embed {
  margin: 2%;
}
.contact-item {
  display: flex;
  flex-direction: row;
  float: left;
  margin-bottom: 2%;
}
.contact-item img {
  height: 2.5vh;
  margin-right: 5px;
}
.contact-item a {
  text-decoration: none;
}
.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vh;
}
